.hover-text-theme:hover {
    color: #db004f;
    /* color: #ea005e; */
    /* windows theme active */
}

@font-face {
    font-family: 'FuturaHandwritten';
    src: url(../fonts/FuturaHandwritten.ttf) format('truetype');
    font-weight: 400;
}

body {
    font-family: 'FuturaHandwritten', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.5;
    background-color: #f5f5f4;
}

p {
    font: inherit;
}

button {
    cursor: pointer;
}

button:not(.footer) {
    font: inherit;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border: none;
    overflow: visible;
    background-color: transparent;
}

button:not(.footer):not(.small):hover {
    background-image: url(images/scribble-medium.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

button:not(.footer).small:hover {
    background-image: url(images/scribble-small.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

button:active {
    transform: scale(0.95);
}

blockquote {
    color: #78716c;
    display: block;
    border-left: 4px solid #78716c;
    padding-left: 2rem;
    text-align: left;
}